<h2>Главная страница</h2>

{{#if todos }}
<ul>
    {{#each todos}}
        <li class = "todo">
        <label>
            <form action="/complete" method="post">
                {{#if completed}}
                    <input type ="checkbox" checked name="completed">
                    <span class = "completed">{{task}}</span>
                {{else}}
                    <input type ="checkbox" name="completed">
                    <span>{{task}}</span>
                {{/if}}
                <span id="sss" value = {{StartTime}}>{{StartTime}}</span>
                <span>{{EndTime}}</span>
                <span id="timer">{{timer}}</span>
                <script src = "/timer.js"></script>
                <input type = "hidden" value = {{id}} name = "id">
                <button class = "btn btn-small" type="submit">Сохранить</button>
            </form>
            <form action ="/deleteDeal" method = "post">
                <input type = "hidden" value = {{id}} name = "id">
                <button class = "btn btn-small" type="submit">Удалить</button>
            </form>  
        </label>    
        </li>
    {{/each}}
<p>Посмотреть задачи на другой день</p>
<form action="/another_date" method="get">
    <input type="date" name = "concrete_date">
</form>

</ul>

{{else}}
<p>На сегодня дел нет!</p>
{{/if}}